<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="PanÉmporium">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo de la pagina -->
    <title></title>
    <!-- Icono de la pagina -->
    <link rel="icon" href="../../Resources/Images/Icon/bakery.png" type="image/x-icon">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/images/icon/bakery.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/admin/index.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap/bootstrap-icons.min.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h1 id="mainTitle"></h1>
        <div class="container bg-light border rounded-5 col-xl-8 col-md-8 col-sm-8">
            <!-- Formulario para iniciar sesión -->
            <form class="d-none" id="loginForm">
                <div class="row g-3">
                    <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <label for="alias" class="form-label">Alias</label>
                        <input id="alias" type="text" name="alias" class="form-control" required>
                    </div>
                    <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <label for="clave" class="form-label">Contraseña</label>
                        <input id="clave" type="password" name="clave" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-send"></i> Enviar</button>
                    </div>
                </div>
            </form>
            <!-- Formulario para crear el primer administrador -->
            <form class="d-none" id="signupForm">
                <div class="mb-3">
                    <div class="input-group border rounded-5" id="exampleInputNombre1">
                        <span class="input-group-text border-0 border rounded-5" id="exampleInputNombre1"><i
                                class="bi bi-person-circle"></i></span>
                        <input placeholder="Nombre:" type="text"
                            class="border rounded-5 border-0 form-control border rounded-5" name="nombreAdministrador"
                            id="nombreAdministrador">
                    </div>
                    <div class="py-3"></div>
                    <div class="input-group border rounded-5" id="exampleInputApellido1">
                        <span class="input-group-text border-0 border rounded-5" id="exampleInputApellido1"><i
                                class="bi bi-person-circle"></i></span>
                        <input placeholder="Apellido:" type="text"
                            class="border rounded-5 border-0 form-control border rounded-5" name="apellidoAdministrador"
                            id="apellidoAdministrador">
                    </div>
                    <div class="py-3"></div>
                    <div class="input-group border rounded-5" id="exampleInputCorreo1">
                        <span class="input-group-text border-0 border rounded-5" id="exampleInputCorreo1"><i
                                class="bi bi-person-circle"></i></span>
                        <input placeholder="Correo:" type="email"
                            class="border rounded-5 border-0 form-control border rounded-5" name="correoAdministrador"
                            id="correoAdministrador">
                    </div>
                    <div class="py-3"></div>
                    <div class="input-group border rounded-5" id="exampleInputUsuario2">
                        <span class="input-group-text border-0 border rounded-5" id="exampleInputUsuario2"><i
                                class="bi bi-person-circle"></i></span>
                        <input placeholder="Usuario:" type="text"
                            class="border rounded-5 border-0 form-control border rounded-5" name="aliasAdministrador"
                            id="aliasAdministrador">
                    </div>
                    <div class="py-3"></div>
                    <div class="input-group border rounded-5" id="exampleInputClave2">
                        <span class="input-group-text border-0 border rounded-5" id="exampleInputClave2"><i
                                class="bi bi-person-circle"></i></span>
                        <input placeholder="Contraseña:" type="password"
                            class="border rounded-5 border-0 form-control border rounded-5" name="claveAdministrador"
                            id="claveAdministrador">
                    </div>
                    <div class="py-3"></div>
                    <div class="input-group border rounded-5" id="exampleInputCClave1">
                        <span class="input-group-text border-0 border rounded-5" id="exampleInputCClave1"><i
                                class="bi bi-person-circle"></i></span>
                        <input placeholder="Repetir Contraseña:" type="password"
                            class="border rounded-5 border-0 form-control border rounded-5" name="confirmarClave"
                            id="confirmarClave">
                    </div>
                </div>
                <div class="py-3"></div>
                <div class="text-center">
                    <button type="reset" class="btn border rounded-4 text-white" id="ingresar"> Cancelar </button>
                    <button type="submit" class="btn border rounded-4 text-white" id="ingresar"> Guardar </button>
                </div>
            </form>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/extras/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/index.js"></script>
</body>

</html>