<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="PanÉmporium">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo de la pagina -->
    <title>Inicio de Sesión</title>
    <!-- Icono de la pagina -->
    <link rel="icon" href="../../Resources/Images/Icon/bakery.png" type="image/x-icon">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/CSS/Admin/index.css">
    <link rel="stylesheet" href="../../Resources/CSS/Bootstrap/bootstrap.css">
</head>

<body>
    <!--- Aqui va el Header. --->
    <!--- Aqui va el Nav (el menu). --->
    <!--- Aqui va el Main. --->
    <div class="py-4"></div>
    <main class=" py-5 container-fluid d-flex align-items-center justify-content-center">

        <div class="px-5"></div>

        <div class="container bg-light border rounded-5 col-xl-8 col-md-8 col-sm-8">
            <div class="row">
                <div class="col-xl-6 border rounded-5 text-center" id="formulario">
                    <img src="../../Api/Images/Logo/Logo_Panaderia.png" alt="Logo" height="400px" width="400px"
                        id="logo">
                </div>
                <div class="col-xl-6">
                    <h1 class="p-5 text-center" id="mainTitle titulo"></h1>
                    
                    <!-- Formulario para iniciar sesión -->
                    <form class="d-none" id="loginForm">
                        <div class="mb-3">
                            <div class="input-group border rounded-5" id="exampleInputUsuario1">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputUsuario1"><i
                                        class="bi bi-person-circle"></i></span>
                                <input placeholder="Usuario:" type="text"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="alias" id="alias">
                            </div>
                        </div>
                        <div class="py-3"></div>
                        <div class="mb-3">
                            <div class="input-group border rounded-5" id="exampleInputClave1">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputClave1"><i
                                        class="bi bi-lock-fill"></i></span>
                                <input placeholder="Contraseña:" type="password"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="clave" id="clave">
                            </div>
                        </div>
                        <div class="py-3"></div>
                        <div class="text-center">

                            <button type="submit" class="btn border rounded-4"> Ingresar </button>
                            <!--
                            <a href="/Vistas/Admin/inicio.html" type="submit" class="btn border rounded-4"
                                id="ingresar">
                                <h4 id="botoncito">Ingresar</h4>
                            </a>
                            -->
                        </div>
                    </form>

                    <!-- Formulario para crear el primer administrador -->
                    <form class="d-none" id="signupForm">
                        <div class="mb-3">
                            <div class="input-group border rounded-5" id="exampleInputNombre1">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputNombre1"><i
                                        class="bi bi-person-circle"></i></span>
                                <input placeholder="Nombre:" type="text"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="nombreAdministrador" id="nombreAdministrador">
                            </div>
                            <div class="input-group border rounded-5" id="exampleInputApellido1">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputApellido1"><i
                                        class="bi bi-person-circle"></i></span>
                                <input placeholder="Apellido:" type="text"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="apellidoAdministrador" id="apellidoAdministrador">
                            </div>
                            <div class="input-group border rounded-5" id="exampleInputCorreo1">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputCorreo1"><i
                                        class="bi bi-person-circle"></i></span>
                                <input placeholder="Correo:" type="email"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="correoAdministrador" id="correoAdministrador">
                            </div>
                            <div class="input-group border rounded-5" id="exampleInputUsuario2">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputUsuario2"><i
                                        class="bi bi-person-circle"></i></span>
                                <input placeholder="Usuario:" type="text"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="aliasAdministrador" id="aliasAdministrador">
                            </div>
                            <div class="input-group border rounded-5" id="exampleInputClave2">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputClave2"><i
                                        class="bi bi-person-circle"></i></span>
                                <input placeholder="Contraseña:" type="password"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="claveAdministrador" id="claveAdministrador">
                            </div>
                            <div class="input-group border rounded-5" id="exampleInputCClave1">
                                <span class="input-group-text border-0 border rounded-5" id="exampleInputCClave1"><i
                                        class="bi bi-person-circle"></i></span>
                                <input placeholder="Repetir Contraseña:" type="password"
                                    class="border rounded-5 border-0 form-control border rounded-5"
                                    name="confirmarClave" id="confirmarClave">
                            </div>
                        </div>
                        <div class="py-3"></div>
                        <div class="text-center">
                            <button type="reset" class="btn border rounded-4"> Cancelar </button>
                            <button type="submit" class="btn border rounded-4"> Guardar </button>
                            <!--
                            <a href="/Vistas/Admin/inicio.html" type="submit" class="btn border rounded-4"
                                id="ingresar">
                                <h4 id="botoncito">Ingresar</h4>
                            </a>
                            -->
                        </div>
                    </form>

                    <div class="py-3"></div>
                </div>
            </div>
        </div>

        <div class="p-4"></div>

    </main>

    <!--- Aqui va el Footer. --->

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../Resources/JavaScript/Bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../Resources/JavaScript/Extras/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../Controllers/Utils/components.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../Controllers/Admin/index.js"></script>

</body>

</html>