nav,
.offcanvas {
    background-color: #B8754C;
}

.offcanvas-title{
    color: #B8754C;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 768px) {
    .navbar-nav>li:hover {
        background-color: #CD9E81;
    }
}

#menu_comida{
    background-color: aqua;
}

#cont_pasteles{
    background-color: blue;
    height: 100px;
    width: 100px;
}
#cont_menu{
    background-color: blue;

    height: 100px;
    width: 100px;
}
#cont_donas{
    background-color: blue;

    height: 100px;
    width: 100px;
}
#cont_bebidas{
    background-color: blue;

    height: 100px;
    width: 100px;
}
#cont_panes{
    background-color: blue;

    height: 100px;
    width: 100px;
}